<html>
  <body>
    <mat-toolbar color="primary">
      <div>
       <span class="pad-center">Login </span> 
      </div>
    </mat-toolbar>
    
    <form class="alignment" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>User Name: </td>
        <td><input type="text" formControlName="username"></td>
      </tr>
      <br>
      <tr>
        <td>Password: </td>
        <td><input type="password" formControlName="password"></td>
      </tr>
      <br>
      <tr>
        <td>
          <button type="submit" mat-raised-button color="primary">Submit </button>
        </td>
        <td>
          <button (click)="registration()" mat-raised-button color="accent">Register </button>
        
        </td>
      </tr>
      </table>  
          <p *ngIf="userNameInValid" class="danger"><b>{{userMessage}}</b></p>
         <p *ngIf="passwordInValid" class="danger"><b>{{passwordMessage}}</b></p>
         <p *ngIf="accountInValid" class="danger"><b>{{accountMessage}} Please Register</b></p>
        
    
    </form>
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async" diameter="60"></mat-progress-spinner>

    

  </body>
</html>

