
<mat-toolbar color="primary">
  <div>
   <span class="pad-center">Welcome {{customerName}} </span> 
  </div>
</mat-toolbar>

<table cellpadding="25">
  <tr>
    <td *ngFor="let product of products">
      <img src={{product.productImage}} style="width: 200px;height: 100px;"> 
   <br> {{product.productName}} - {{product.productCost}}/rs &nbsp;
    <button type="button" (click)="addToCart(product)"  mat-raised-button color="primary" style="width : 6em; height: 2rem;">addToCart</button>

    </td>
  </tr>
</table>
  <br>
  <table>
    <tr>
      <td>
      <button type="button" (click)="Cart()"  mat-raised-button color="primary">Cart</button>
      </td>
      <td>
        <button type="button" (click)="Orders()" mat-raised-button color="accent">Orders</button>

      </td>
    </tr>
  </table>
  
    

      
   
