

<mat-toolbar color="primary">
  <div>
   <span class="pad-center">Cart</span> 
  </div>
</mat-toolbar>
<p class="pad-center">
Items you have selected</p>
<div class="pad-center" *ngFor="let item of items">
  
  
 <p ><img src={{item.products.productImage}} style="width: 70px;height: 40px;"> &nbsp; {{item.products.productName}} <button type="button" mat-raised-button color="warn" (click)=deleteItem(item) class="btn btn-delete" >Delete</button></p>
 <p>Quantity- {{item.products.productQuantity}}</p> 
 <p>Cost- {{item.products.productCost*item.products.productQuantity}}</p> 


</div>
<p class="pad-center">Total cost= {{cost}}</p>
<p class="pad-center">
  <button type="button" (click)="placeOrder()" mat-raised-button color="primary" class="btn orderbtn">Place Order</button>
</p>

<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async" diameter="60"></mat-progress-spinner>
