<mat-toolbar color="primary">
  <div>
   <span>Home </span> 
  </div>
</mat-toolbar>
<p>
  <button type="button" (click)="products()" class="btn btn-1" mat-raised-button color="primary">Products</button>
</p>

<p>
  <button type="button" (click)="cart()" class="btn btn-2" mat-raised-button color="accent">Cart</button>
</p>

<p>
  <button type="button" (click)="orders()" class="btn btn-3" mat-raised-button color="primary">Orders</button>
</p>

