

<mat-toolbar color="primary">
  <div>
   <span>Order Confirmation </span> 
  </div>
</mat-toolbar>

  <img class="imageBorder" src="{{confirmImage}}" style="width: 50px;height: 50px;">
   

  
    
    <p>You have successfully placed the order</p> 
    

    <mat-dialog-actions>
      <button mat-raised-button color="primary" mat-dialog-close (click)=ordersPage()>Orders</button>
    </mat-dialog-actions>



   


 

