<mat-toolbar color="primary">
    <div>
     <span>Your Orders</span> 
    </div>
  </mat-toolbar>
<p *ngFor="let item of data"><img src={{item.products.productImage}} style="width: 50px;height: 25px;"> 
    {{item.products.productName}}({{item.products.productQuantity}})
<p>
    <button (click)="home()" class="btn" mat-raised-button color="primary">Home</button>
</p>
<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async" diameter="60"></mat-progress-spinner>
