<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    
</head>
<body>
    <mat-toolbar color="primary">
        <div>
         <span class="pad">Registration </span> 
        </div>
      </mat-toolbar>
    
   
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <table align="center" cellpadding="5" cellspacing="5" >
            
            <tr>
                <td><b >User Name:</b></td>
                <td><input formControlName="Username" type=text placeholder="First Name"/></td>
               
            </tr>
           

            <tr>
                <td>
                    <b>Mobile Number:</b>
                </td><td>
                <input  type="text" placeholder="Number" formControlName="Mobile"/></td>
                  

            </tr>
           
            <tr>
                <td>
                    <b>Gender:</b>
                </td>
                <td>Male<input type="radio" value="Male" formControlName="Gender"/>
                Female<input  type="radio" value="female" formControlName="Gender"/></td>
              

            </tr>
        
               
                <tr>
                    <td>
                        <b>Pin Code:</b>
                    </td>
                    <td><input type="text" placeholder="Pincode" formControlName="Pincode"/></td>
                    
    
                </tr>

                <tr>
                    <td>
                        <b>Password:</b>
                    </td>
                    <td><input type="password" placeholder="Password" formControlName="Password"/>
                     
                    </td>
                    
                </tr>
                
            
            <tr>
                <td colspan=2 align=center>
                    <button type="submit" class="btn btn-2" mat-raised-button color="primary">Submit </button>


                </td>
                </tr>

        </table>

    </form>
   
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async" diameter="60"></mat-progress-spinner>

</body>
</html>