/* You can add global styles to this file, and also import other style files */
.danger {
  color: red;
}
p {
  color: darkblue;
  font-size: large;
}

h2 {
  color: rgb(156, 28, 5);
}

h3 {
  color: rgb(117, 15, 112);
}
form tbody {
  color: rgb(65, 85, 11);
  font-size: large;
  font-weight: bold;
}

.btn {
  padding: 5px;
  color: rgb(49, 65, 153);
  display: inline-block;
  cursor: pointer;
  font-size: small;
}
img {
  border: none;
}

.links {
  display: flex;
  flex-direction: row;
}
.imageBorder {
  border: none;
  padding-left: 10rem;
}
.pad-center {
  padding-left: 35rem;
}

.alignment {
  padding-top: 60px;
  padding-left: 550px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
